.card-header{
    text-align: center;
 font-weight: bold;

}
.card-body{
    border: 1px solid black;
    width: 140px;
    height: auto


}
.card-body img{
    height: 120px;
    width:130px;
    padding: 5px 5px 20px 5px;
    background-color: rgb(125, 187, 146);
   
}
.text-center{
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(125, 187, 146);
}