<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="./assets/images/logo.png" class="img-responsive center-block"
                style="max-height:300px;padding-bottom:50px" />
        </div>
        <div class="text-center"><h3>Welcom to Ulfshop!</h3> <br> This will change ur life, but i don't guarantee that it will be
            better </div>

        <div class="text-center">Developed by:</div>
        <div class="text-center">
            <h3>Adrian Soflau</h3>
        </div>
 
    </div>
</div>