/* You can add global styles to this file, and also import other style files */
.card {
    margin-top: 10px;
    .card-header {
        font-size: large;
       }
    .card-body {
        align-content: center;

    }
          
    .table {
        margin-top: 10px
    }
}

.text-center {
    text-align: center;
}
