<div class='shop-body'>
    <div class='card'>
        <div id="header">
            <div id="search-bar">Cauta:
                <input type='text' [(ngModel)]='listFilter' /></div>
            <div> <img class='cart-icon' src="./assets/images/cart.png" (click)="goToCart()"> </div>

        </div>
        <div class='card-body'>
        </div>
        <div *ngIf='products && products.length' class='table-responsive'>
            <div *ngFor='let product of filteredProducts'>
                <div class='product-card'>
                    <div class='product-img'> <img class='images' *ngIf='showImage' [src]='product.imageUrl'> </div>
                    <div class='product-name'>{{product.productName}}</div>
                    <div class=product-value> {{product.price}} lei/bucata</div>
                    <button class='add-btn' (click)="addToCart()"> Adauga in cos </button>

                </div>
            </div>
        </div>
    </div>
</div>