.shop-body {
    width: 100%;
    background-image: url(../../assets/images/background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    background-color: #bbc2c5;
    height: calc(100% - 48px);
}
.card{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#header{ 
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    border-bottom: 4px solid #675736
}

.cart-icon{
    cursor: pointer;
    height: 30px;
    width: 30px; 
}

.table-responsive {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding:15px;
    flex-wrap: wrap;
    margin: 10px

  
}
.product-card{
    background: white;
    width: 170px;
    height: 270px;
    margin: 15px;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid ;
    border-radius: 10px;
    padding: 10px;

    

}
.product-img{
    width:120px;
    height: 40%;
    margin: 10px;
    padding: 5px;
}
.images{
    width:100%;
    margin: 2px
}
.product-name{
    text-align: center;
}
.product-value{
    text-align: center;
    padding: 5px 0px;
}
.add-btn{
    width: inherit ;
}

