<div class='card'>
    <div class='card-header'>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Search:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div *ngIf='products && products.length' class='table-responsive'>
            <div  *ngFor='let product of filteredProducts'>
                <div>
                    <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName'
                        [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                </div>
                <div>{{product.productName}}</div>
                <div>{{product.price}}$</div>
                <button class='btn btn-primary'> Add to Basket </button>
            </div>
        </div>
    </div>